@font-face {
  font-family: 'CupheadVogue';
  font-style: normal;
  font-weight: 400;
  src: url(../chwikicss/fonts/CupheadVogue-Bold.woff) format('woff');
}

@font-face {
  font-family: 'CupheadVogue';
  font-style: normal;
  font-weight: 700;
  src: url(../chwikicss/fonts/CupheadVogue-ExtraBold.woff) format('woff');
}
